.ourTeam {
  position: relative;
  /* border: 2px solid green; */
  text-align: center;
  margin-top: 24px;
  padding-bottom: 30px;
  /* background-color: #005cb7; */
}
.ourTeam > div:first-child {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 35px;
  left: 140px;
  border-radius: 1998px;
  background-color: #005cb7;
}
.ourTeam > h3 {
  color: #00703c;
  font-family: "Roboto", serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.72px;
}
.ourTeam > h6 {
  color: #005cb7;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; /* 21px */
}
.ourTeam > p {
  color: #67696e;
  font-family: "Roboto", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px; /* 27px */
}

/* ==============Cards styles ============= */
.content > .cards {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: auto;
}
.ourTeam > .content {
  position: relative;
  padding: 32px 0px;
}
.content > div:first-child,
.content > div:last-child {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 1998px;
}
.content > div:first-child {
  background-color: #90f0a7;
  left: 30px;
  top: 10px;
}

.content > div:last-child {
  background-color: #94d5f7;
  right: -50px;

  bottom: -15px;
}

.content > .svggs {
  position: absolute;

  width: 32px;
  height: 40px;
  right: -50px;
  top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 5px;
  transform: rotate(-45deg);
}

@media (max-width: 940px) {
  .ourTeam > div:first-child {
    width: 25px;
    height: 25px;
    top: 30px;
    left: 520px;
    /* right: 10px; */
  }
  .ourTeam > h3 {
    font-size: 30px;
  }
}
@media (max-width: 600px) {
  .ourTeam > h3 {
    font-size: 24px;
  }
  .ourTeam > h6 {
    display: none;
  }
  .ourTeam > p {
    font-size: 17px;
    font-weight: 400;
  }

  .ourTeam > div:first-child {
    width: 20px;
    height: 20px;
    left: 320px;
    top: 15px;
  }
}
@media (max-width: 450px) {
  .ourTeam > div:first-child {
    left: 260px;
    top: 10px;
  }
  .ourTeam > p {
    font-size: 15px;
  }
}
@media (max-width: 320px) {
  .ourTeam > div:first-child {
    left: 220px;
  }
  .ourTeam > h3 {
    font-size: 20px;
  }
}
