.recentProject {
  padding: 52px 0px;
  text-align: center;
}

.recentProject > h3 {
  color: #00703c;
  font-family: "Roboto", serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
}

.recentProject > p {
  color: #67696e;
  text-align: center;
  font-family: "Roboto", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  width: 600px;
  margin: 10px auto 0px;
}
.space {
  height: 32px;
}
.space2 {
  height: 0px;
  margin-top: -50px;
}
.space1 {
  height: 10px;
}
@media (max-width: 940px) {
  .recentProject > h3 {
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  .recentProject {
    padding-top: 10px;
  }
  .recentProject > h3 {
    font-size: 20px;
    line-height: 28px;
  }
  .recentProject > p {
    width: 90%;
    line-height: 20px;
  }
}

@media (max-width: 420px) {
  /* .recentProject > h3 {
    font-size: 20px;
  } */
  .recentProject > p {
    font-size: 15px;
    line-height: 20px;
  }
}
