.container {
  /* width: 100%; */
  max-width: 1440px;
  height: auto;
  /* border: 1px solid red; */
}
.cover {
  padding: 0px;
}
.sidePaddings {
  padding: 0px 104px;
}

@media (max-width: 1024px) {
  .sidePaddings {
    padding: 0px 50px;
  }
}

@media (max-width: 768px) {
  .sidePaddings {
    padding: 0px 30px;
  }
}

@media (max-width: 430px) {
  .sidePaddings {
    padding: 0px 30px;
  }
}

@media (max-width: 360px) {
  .sidePaddings {
    padding: 0px 20px;
  }
}
