.companyContentDiv {
  background-color: #fff;
  margin-top: 120px;
  position: relative;
  height: auto;
  width: 100%;
}

.companyContentDiv > h2 {
  color: #00703c;
  font-family: "Roboto", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px;
  text-align: center;
}
.companyContentDiv > p {
  color: #333437;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  max-width: 790px; /* 24px */
  margin: 0 auto;
}
.contentDiv > .left {
  width: 290px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 20px;
  list-style: none;
  margin-top: 20px;
}
.left > li {
  padding: 0px;
}
.left > li svg {
  width: 50px;
  padding: 0px;
}

.left > li:last-child {
  margin-left: -9px;
}
.left > li {
  display: flex;
  width: 280px;
  justify-content: flex-start;
  column-gap: 20px;
}
.left > li:first-child {
  padding: 5px 0px;
}
.left > li:first-child > div {
  display: flex;
  align-items: center;
}
.contentDiv > .left > li:first-child div > svg {
  margin-top: -2px;
  margin-left: -8px;
}
.contentDiv > .left > li:first-child div > span {
  margin-left: 14px;
  font-size: 17px;
}

.left > li:first-child button {
  display: none;
}

.left > li:last-child > span {
  margin-left: -10px;
}
.contentDiv {
  display: flex;
  justify-content: center;
  column-gap: 100px;
  align-items: flex-start;
  padding: 30px 0px 100px;
}
/* ===========right ================ */
.contentDiv > .right {
  width: 640px;
  padding: 0px;
  transition: transform 0.5s ease-out;
}

.contentDiv > .right > div {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  background: #fafbfc;
  margin-top: 20px;
}
.contentDiv > .right select {
  position: relative;
  padding-right: 50px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.contentDiv > .right input,
.contentDiv > .right select,
.contentDiv > .right option {
  width: 100%;
  padding: 16px 24px;
  background: #fafbfc;
  border-radius: 8px;
}
.contentDiv > .right div > span {
  position: absolute;
  right: 10px;
  top: 16px;
}

.contentDiv > .right .textAreaDiv {
  background: #fafbfc;
  padding-bottom: 30px;
}
.contentDiv > .right textarea {
  width: 100%;
  padding: 16px 24px;
  border-radius: 8px;
  background: #fafbfc;
  color: #000;
  font-size: 17px;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .companyContentDiv {
    margin-top: 30px;
  }
}
@media (max-width: 940px) {
  .companyContentDiv {
    width: 90%;
    margin: 20px auto;
    padding: 0px;
  }
  .contentDiv {
    width: 100%;
    flex-direction: column;
    padding: 0px 0px 50px 0px;
    position: relative;
    row-gap: 20px;
    columns: 0px;
  }
  .contentDiv > .right,
  .contentDiv > .left {
    width: 100%;
    /* margin: 0 auto; */
    /* width: 90%;
    margin: 0 auto; */
    position: relative;
    padding: 0px;
    /* border: 2px solid red; */
  }

  .contentDiv > .right {
    display: none;
    top: 20px;
  }
  .contentDiv > .right.open {
    margin-top: 0px;
    display: block;
  }
  .companyContentDiv > h2 {
    font-size: 30px;
  }
  .left > li:first-child {
    display: flex;
    justify-content: space-between;
  }
  .left > li:first-child button {
    display: block;
    cursor: pointer;
    /* transform: rotate(360deg); */
  }
  .left > li:first-child button svg.openForm {
    transition: transform 0.5s ease-in;
    transform: rotate(180deg);
  }
  .contentDiv > .left > li:first-child div > svg {
    transition: transform 0.5s ease-in;
    transform: rotate(0deg);
  }
  .contentDiv > .left > li:first-child {
    width: 100%;
  }

  .left > li:nth-child(2) {
    width: 300px;
  }
}

@media (max-width: 600px) {
  .companyContentDiv > h2 {
    font-size: 24px;
  }
}
@media (max-width: 420px) {
  .companyContentDiv > p {
    font-size: 14px;
    line-height: 20px;
  }

  .contentDiv > .left > li:first-child {
    margin-left: -10px;
  }
  .left > li:nth-child(2) {
    width: 300px;
    margin-left: -14px;
  }

  .left > li:last-child {
    margin-left: -15px;
  }
  .contentDiv > .right input,
  .contentDiv > .right select,
  .contentDiv > .right option,
  .contentDiv > .right textarea {
    padding: 10px;
  }
  .contentDiv > .right div > span {
    top: 10px;
  }
}
