.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
.btnContainer a {
  text-decoration: none;
}

.hamburger {
  display: none;
}
@media (max-width: 940px) {
  .btnContainer {
    display: none;
  }
  .hamburger {
    /* border: 2px solid red; */
    display: block;
  }
}
