.nav {
  list-style: none;
  display: flex;
  column-gap: 48px;
}
.nav li {
  color: var(--gray-800, #333437);

  /* Text Md/Regular */
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
