nav > ul {
  list-style: none;
  display: flex;
  column-gap: 48px;
}
nav li {
  color: #333437;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.contactLink {
  display: none;
}
nav li a {
  text-decoration: none;
}

nav :global(.active) {
  color: #00703c;
  border-bottom: 1px solid #00703c;
  padding-bottom: 5px;
}

@media (max-width: 940px) {
  nav {
    width: 100%;
    position: absolute;
    z-index: -1;
    /* left: 50%; */
  }
  .contactLink {
    display: block;
  }
  nav > ul.open {
    margin-left: 0%;
    /* transform: translateX(0%); */
  }
  nav > ul {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    padding: 400px 20px 0px 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    /* background-color: #f2f2ed; */
    background-color: #eef8fc;
    margin-left: 120%;
    /* transform: translateX(100%); */
  }
  nav > ul li {
    padding: 5px;
    font-size: 20px;
    line-height: 48px;
    font-weight: 600;
  }
}
