.heroSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

/* ===========LEFT STYLES ====== */

.heroSectionLeft {
  /* max-width: 480px; */
  max-width: 630px;
  padding-bottom: 20px;
  /* border: 2px solid red; */
  padding: 0px;
}
.headingDiv {
  position: relative;
}
.heroSectionLeft h1 {
  color: #333437;
  font-family: "Roboto", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 52px; /* 72px */
  /* line-height: 72px;  */
  /* letter-spacing: -0.96px; */
}
.headingSvg {
  position: absolute;
  bottom: -15px;
  padding: 0px 10px;
}
.heroSectionLeft h1 span {
  color: #1a8718;
}
.heroSectionLeft > p {
  color: #67696e;
  font-family: "Roboto", serif;
  font-size: 16px;
  /* font-size: 18px; */
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  padding-bottom: 20px;
  margin-top: 20px;
}

/* ===========RIGHT STYLES ====== */
.heroSectionRight {
  /* max-width: 600px; */
  max-width: 570px;
  background-image: url("../BG-image.png");
  background-position: center;
  background-size: cover;
  height: 489px;
  padding: 10px 0px;
}
.heroSectionRightImage {
  width: 100%;
  padding-left: 15px;
}

/* ===========SINCE STYLES ====== */
.sinceDiv {
  font-family: "Roboto", serif;
  margin-top: 20px;
  padding-bottom: 20px;
}
.sinceDiv p {
  color: #005cb7;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.sinceDiv h2 {
  color: #1a8718;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 30px;
}
