.summaryDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0px;
}
/* ===============Summary Card Summary Card======= */

.card {
  position: relative;
  width: 150px;
  height: 120px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 16px;
  background: "#EEF5F2";
  /* border: 2px solid red; */
}
.eachCard {
  width: 150px;
  height: auto;
  padding: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.eachCard h3 {
  margin-top: 10px;
  color: #00703c;
  font-family: "Roboto", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}

.card > p {
  color: #333437;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-top: 10px;
}
@media (max-width: 1024px) {
  .eachCard h3 {
    font-size: 34px;
  }
}
@media (max-width: 768px) {
  .summaryDiv {
    padding: 0px;
  }
  .card > p {
    /* font-size: 16px; */
    font-weight: 700;
  }
  .eachCard h3 {
    font-size: 30px;
  }
}
@media (max-width: 430px) {
  .summaryDiv {
    padding: 0px;
  }
  .eachCard h3 {
    font-size: 24px;
  }
}
