.teamDiv {
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.teamDiv h3 {
  color: #67696e;
  font-family: "Roboto", serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 54px; /* 54px */
  letter-spacing: -0.72px;
}
.teamDiv P {
  color: #67696e;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 27px */
  margin-top: 10px;
}
.btnDiv {
  margin-top: 30px;
}
@media (max-width: 1024px) {
  .teamDiv h3 {
    font-size: 30px;
  }
}
/* @media (max-width: 768px) { */
@media (max-width: 940px) {
  .teamDiv {
    width: 70%;
    margin: 0 auto;
  }
  .teamDiv h3 {
    font-size: 26px;
  }
  .teamDiv p {
    font-size: 18px;
    text-align: center;
  }
}
@media (max-width: 430px) {
  .teamDiv {
    width: 80%;
  }
  .teamDiv h3 {
    font-size: 22px;
  }
  .teamDiv p {
    font-size: 16px;
  }
}
@media (max-width: 360px) {
  .teamDiv h3 {
    font-size: 18px;
  }
}
