.whyChooseUs {
  padding: 0px;
  margin-top: 50px;
}
.whyChooseUs > p {
  color: #005cb7;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 21px */
}

.whyChooseUs > h2 {
  color: #00703c;
  font-family: "Roboto", serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 15px;
  padding-bottom: 20px;
  margin-top: 10px;
}

/* ==========whyChooseUs Card styles ========== */
.whyChooseCard {
  max-width: 550px;
  height: 183px;
  padding: 24px;
  background-color: #fafbfc;
  box-shadow: 0px 4px 40px 0px rgba(127, 181, 230, 0.12);

  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */
}
.cardContent {
  margin-left: 16px;
}
.cardContent h3 {
  color: #034ba1;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 36px */
}
.cardContent p {
  color: #67696e;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 27px */
}

.icon {
  /* border: 2px solid red; */
  height: 50px;
  margin-top: 20px;
}
