.whatHerosection {
  position: relative;
  height: 500px;
  padding: 0px;
  background-image: url("../whatBg.png");
  background-position: center;
  background-size: cover;
  background-color: #fff;
  /* border: 2px solid green; */

  display: flex;
  align-items: center;
  justify-content: center;
}
.whatHerosection > .content {
  text-align: center;
}

.content h3 {
  color: #ced3dc;
  font-family: "Roboto", serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 72px;
}
.content p {
  font-weight: 600;
  color: #f2f4f6;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 36px */
}

/* ===========HEROSECTION CONTENT ========= */
.heromsg {
  width: 700px;
  font-family: "Roboto", serif;
  text-align: center;
  margin: 0 auto;
  padding: 32px 0px;
}
.heromsg > h3 {
  color: #00703c;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
}
.heromsg > p {
  color: #333437;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 36px */
  margin-top: 5px;
}
@media (max-width: 1024px) {
  .content h3 {
    font-size: 50px;
  }
}
@media (max-width: 940px) {
  .whatHerosection {
    width: 100%;
    padding: 0px 3%;
    height: 400px;
  }
  .content h3 {
    font-size: 35px;
  }
  .content p {
    font-weight: 400;
    width: 70%;
    font-size: 23px;
    font-weight: 300px;
    margin: 0 auto;
  }
  .heromsg > h3 {
    font-size: 30px;
  }
  .heromsg > p {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .whatHerosection {
    height: 300px;
  }
  .content p {
    display: none;
  }
  .heromsg {
    width: 90%;
  }
  .content h3 {
    font-size: 40px;
    line-height: 40px;
  }
}
@media (max-width: 430px) {
  .content h3 {
    font-size: 30px;
  }
}
@media (max-width: 390px) {
  .content h3 {
    font-size: 26px;
  }
}
